/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
          font-family: "Audiowide", sans-serif;
        }

/* Navigation Bar */
.navbar {
    background-color: #070712;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-brand {
    font-size: 24px;
    padding-right: 150px;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.nav-item {
    padding: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item a.active {
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item a:hover,
.nav-item a:focus {
    text-decoration: none;
    color:yellow
}

.contact {
    border: 2px solid white;
    padding: 5px 10px;
}
.nav-item{
    .contact:hover {
      border: 2px solid  yellow;
        background-color:  yellow;
        color: black;
    }
}


/*sidebar*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 11;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: yellow;
}

.sidebar a.active{
  color: yellow;
}

.sidebar .sidebarText{
  font-size: 15px;
   font-weight: 400;
   line-height: 24px;
   color: #fff;
   padding: 8px 8px 8px 32px;
}

.sidebar .sidebarText:hover{
color: yellow;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: yellow;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#EEDC5B ;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}






/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Responsive Menu Toggle */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/* For Mobile Screens */
@media screen and (max-width: 768px) {
    .navbar-brand, .navbar-nav {
        display: none;
    }
    .openbtn {
        display: block;
    }
}

/* For Desktop Screens */
@media screen and (min-width: 769px) {
    .navbar-nav {
        display: flex;
    }

}
