/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Create a top navigation bar with a black background color  */
.topnav{
  background-color: black;
  height: 80px;
  color: yellow;
  padding: 20px;
  font-size: 30px;
  overflow: hidden;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid white;
  color: white;
}


/* Change the color of links on hover */
.topnav a.split:hover {
  background-color: yellow;
  border: 2px solid yellow;
  color: black;
}

/* Form Style */
form{
    padding: 60px 100px 60px 100px;
    background-color: rgba(0, 0, 0, .7);
    margin: 30px 300px 0px 300px;
    border: 3px solid yellow;
}

/* Form Label Style */
form label{
  color:white;
  font-size:20px;
  padding-bottom:20px;
}

/* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 3px solid yellow;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .101960784);
  color:white;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: yellow;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: black;
   color: yellow;
}

select option{
  background-color:black;
}

/*flash messages*/

.alert {
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    z-index: 1000; /* Make sure it's above other elements */
    background-color:black;
    color:yellow;
    text-align:center;
    width:100%;
    padding:10px;
    font-size:20px;
    margin-bottom:20px;
}

/* Keyframes for the fade-out effect */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Initially the message is fully visible */
#flash-message {
    animation-name: stayVisible;
    animation-duration: 4s; /* Adjust the time for how long it stays */
}

/* After 4s, fade out the message in 1s */
#flash-message.fade-out {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Keeps the element in the state of the last keyframe */
    animation-delay: 3s; /* Adjust the delay to match how long the message stays */
}

/* To keep the message visible before it fades out */
@keyframes stayVisible {
    from { opacity: 1; }
    to { opacity: 1; }
}

