<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="../static/css/booking.css">
    <script>
    </script>
</head>
<body style="background-color: #1F2626;">
    <div class="main-wrapper">
		<section>
			<div>
				<div>
					<div>
						<div>
							<h1 style="text-align: center; color: white;">Bookings </h1>
						</div>
						<div id="div1" style="opacity: 1; color: white;background-image: url(../static/images/background/bookingBack.jpg); height: 100%; width: 100%;">
							<br><br><br><h2>Below is a Schedule for each day in the Gym</h2>
							<p>Click a day to see its schedule or scroll to find something that suits
							you</p>
							<p>Click the Book button to book a timeslot or class</p>
							<br><br><br><br><br>
						</div>
						<div>
							<div class="w3-container" style="width: 50%; margin: 0 auto;">
								<button id="showMonday" style="background-color: #1F2626; color: #FFBF00"><a href="#monday">Monday</a></button>
                                <button id="showTuesday" style="background-color: #1F2626; color: #FFBF00"><a href="#tuesday">Tuesday</a></button>
                                <button id="showWednesday" style="background-color: #1F2626; color: #FFBF00"><a href="#wednesday">Wednesday</a></button>
                                <button id="showThursday" style="background-color: #1F2626; color: #FFBF00"><a href="#thursday">Thursday</a></button>
                                <button id="showFriday" style="background-color: #1F2626; color: #FFBF00"><a href="#friday">Friday</a></button>
                                <button id="showSaturday" style="background-color: #1F2626; color: #FFBF00"><a href="#saturday">Saturday</a></button>
								<div></div></div>
									<div id="monday">
                                        <h2 style="color: white; text-align: center;">Monday</h2>
										<div class="w3-container" style="width: 60%; margin: 0 auto;">
											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>09.00 AM - 11.00 AM </b></p><b>Yoga</b>(Rob Smith)    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>11.00 AM - 12.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>12.00 PM - 02.00 PM </b></p><b>Gym </b>     -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>04.00 PM - 06.00 PM </b></p><b>Gym </b>     -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>06.00 PM - 07.00 PM </b></p><b>Aerobics</b>(John Doe)   -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>07.00 PM - 09.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

										</div>
									<div id="tuesday">
                                        <h2 style="color: white; text-align: center;">Tuesday</h2>
										<div class="w3-container" style="width: 60%; margin: 0 auto;">
											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>09.00 AM - 11.00 AM </b></p><b>Gym </b>   -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>11.00 AM - 12.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>12.00 PM - 02.00 PM </b></p><b>Gym </b>     -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>04.00 PM - 06.00 PM </b></p><b>Spinning</b>(Kazi Fahim)    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>06.00 PM - 07.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>07.00 PM - 09.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

										</div>
									</div>
									<div id="wednesday">
                                        <h2 style="color: white; text-align: center;">Wednesday</h2>
										<div class="w3-container" style="width: 60%; margin: 0 auto;">
											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>09.00 AM - 11.00 AM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>11.00 AM - 12.00 PM </b></p><b>Gym </b>   -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>12.00 PM - 02.00 PM </b></p><b>Zumba</b>(Jessy Reo)    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>04.00 PM - 06.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>06.00 PM - 07.00 PM </b></p><b>Pilates</b>(John Doe)  -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>07.00 PM - 09.00 PM </b></p><b>Yoga</b>(Zahra Sharif)   -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

										</div>
									</div>
									<div id="thursday">
                                        <h2 style="color: white; text-align: center;">Thursday</h2>
										<div class="w3-container" style="width: 60%; margin: 0 auto;">
											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>09.00 AM - 11.00 AM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>11.00 AM - 12.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>12.00 PM - 02.00 PM </b></p><b>Boxing</b>(Michael Smith)    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>04.00 PM - 06.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>06.00 PM - 07.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>07.00 PM - 09.00 PM </b></p><b>Yoga</b>(Zahra Sharif)   -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

										</div>
									</div>
									<div id="friday">
                                        <h2 style="color: white; text-align: center;">Friday</h2>
										<div class="w3-container" style="width: 60%; margin: 0 auto;">
											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>09.00 AM - 11.00 AM</b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>11.00 AM - 12.00 PM </b></p><b>Gym </b>   -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>12.00 PM - 02.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>04.00 PM - 06.00 PM </b></p><b>CrossFit</b>(Kazi Fahim)    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>06.00 PM - 07.00 PM </b></p><b>Pilates</b>(John Doe)  -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>07.00 PM - 09.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>
										</div>
									</div>
									<div id="saturday">
                                        <h2 style="color: white; text-align: center;">Saturday</h2>
										<div class="w3-container" style="width: 60%; margin: 0 auto;">
											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>09.00 AM - 11.00 AM </b></p><b>Gym </b>   -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>11.00 AM - 12.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>12.00 PM - 02.00 PM </b></p><b>Gym </b>     -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>04.00 PM - 06.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>06.00 PM - 07.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>

											<div class="w3-panel w3-card w3-amber"><p style="text-align: left;"><b>07.00 PM - 09.00 PM </b></p><b>Gym </b>    -
												<button type="button" style="background-color: #1F2626; color: white;">BOOK</button>
												<button style="background-color: red; color: white;" hidden>Delete</button>
												<button style="background-color: white; color: black;" hidden>Edit</button></div>
										</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
</body>
</html>