<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Class</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_class.css') }}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
     <link rel="stylesheet" type="text/css" href="../static/css/create_class.css">
</head>
<div class="topnav">
    Create New Class
  <a href="/booking" class="split">BACK</a>
</div>
 <!-- Flash Messages Section -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div id="flash-message" class="alert">
                        {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
<body>
<form method="post">
    <label for="class_name">Class Name:</label>
    <input type="text" id="class_name" name="class_name" placeholder="Enter class name.."><br>

    <label for="time_duration">Time Slot:</label>
    <input type="text" id="time_duration" name="time_duration" placeholder="Eg. 11:00 - 12:00" required><br>

    <label for="day">Day:</label>
    <select id="day" name="day" required>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
    </select><br>

    <input type="submit" value="Create Class">
</form>
<script>

document.addEventListener('DOMContentLoaded', (event) => {
    const flashMessage = document.getElementById('flash-message');
    if (flashMessage) {
        setTimeout(() => {
            flashMessage.classList.add('fade-out');
        }, 4000); // 4000ms or 4 seconds until fade-out starts
    }
});
</script>
</body>
</html>