<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Class Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/update_class.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" type="text/css" href="../static/css/update_class.css">
</head>
<div class="topnav">
    Update Class Details
    <a href="/booking" class="split">BACK</a>
</div>
<!-- Flash Messages Section -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="flash-message" class="alert">
    {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<body style=" font-family: Audiowide, sans-serif;
    background-image:url({{url_for('static', filename = '/images/background/background_gif.gif') }});
    background-position: center;
    background-size: cover;
    overflow: hidden;">
<form id="update_form" method="post">
    <label for="class_name">Class Name:</label>
    <input type="text" id="class_name" name="class_name" value="{{class_.class_name}}" placeholder="Enter class name.."><br>

    <label for="time_duration">Time Slot:</label>
    <input type="text" id="time_duration" name="time_duration" value="{{class_.time_duration}}"
           placeholder="Eg. 11:00 AM - 12:00 PM" required pattern="(?:1[0-2]|0?[1-9]):[0-5][0-9] [AP]M - (?:1[0-2]|0?[1-9]):[0-5][0-9] [AP]M">><br>

    <label for="day">Day:</label>
    <select id="day" name="day" required>
        <option value="Monday" {% if class_.day=='Monday' %}selected{% endif %}>Monday</option>
        <option value="Tuesday" {% if class_.day=='Tuesday' %}selected{% endif %}>Tuesday</option>
        <option value="Wednesday" {% if class_.day=='Wednesday' %}selected{% endif %}>Wednesday</option>
        <option value="Thursday" {% if class_.day=='Thursday' %}selected{% endif %}>Thursday</option>
        <option value="Friday" {% if class_.day=='Friday' %}selected{% endif %}>Friday</option>
        <option value="Saturday" {% if class_.day=='Saturday' %}selected{% endif %}>Saturday</option>
    </select><br>


    <input type="submit" value="Update Class">
</form>
<script>

    document.addEventListener('DOMContentLoaded', (event) => {
        const flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            setTimeout(() => {
                flashMessage.classList.add('fade-out');
            }, 4000); // 4000ms or 4 seconds until fade-out starts
        }
    });

    document.getElementById("update_form").addEventListener("submit", function(event) {
    var timeDurationInput = document.getElementById("time_duration");
    var timeDurationValue = timeDurationInput.value;
    var regex = /^(?:1[0-2]|0?[1-9]):[0-5][0-9] [AP]M - (?:1[0-2]|0?[1-9]):[0-5][0-9] [AP]M$/;

    if (!regex.test(timeDurationValue)) {
        alert("Please enter the time slot in the format: '11:00 AM - 12:00 PM'");
        event.preventDefault(); // Prevent form submission
    }
});
</script>
</body>
</html>